/*import Fonts*/
@import url("https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext");
@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i");
/*import Files*/
@import url(animate.min.css);
@import url(normalize.css);
@import url(meanmenu.css);
@import url(owl.carousel.min.css);
@import url(slick.css);
@import url(jquery-ui.css);
@import url(nice-select.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 21px;
  left: 21px;
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 60px;
  height: 60px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #00B5F5, #002A8F);
  -webkit-transition: all 265ms ease-out;
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #00B5F5;
  background: -webkit-linear-gradient(45deg, #00B5F5, #002A8F);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-transition: all 265ms ease-in;
  transition: all 265ms ease-in;
}

* {
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
  font-family: "Raleway", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #666666;
  font-size: 17px;
  line-height: 1.80857;
  font-weight: normal;
  overflow-x: hidden;
}

a {
  color: #1f1f1f;
  text-decoration: none !important;
  outline: none !important;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  position: relative;
  padding: 0 0 10px 0;
  color: #111111;
  margin: 0;
  font-family: 'Marcellus SC', serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button:focus {
  outline: none;
}

ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

p {
  margin: 20px;
  font-weight: 600;
  font-size: 15px;
  line-height: 24px;
  color: #110f0a;
}

a {
  color: #ffffff;
  text-decoration: none;
  outline: none !important;
}

.layout_padding {
  padding: 90px 0;
}

.center-desk {
  width: 100%;
  float: left;
  padding-bottom: 20px;
}

.header_main {
  width: 100%;
  float: left;
  background-image: url(../images/sand2.png);
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  background-size: cover;
  background-size: 100%;
  background-repeat: no-repeat;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  display: inline;
}

.hoverable {
  display: inline-block;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  vertical-align: middle;
  position: relative;
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  tranform: translateZ(0);
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}

.hoverable:before {
  position: absolute;
  pointer-events: none;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 0.35) 0%, rgba(255, 255, 255, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
}

.hoverable:hover, .hoverable:active, .hoverable:focus {
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.hoverable:hover:before, .hoverable:active:before, .hoverable:focus:before {
  opacity: 1;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

@-webkit-keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes bounce-animation {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.bounce {
  -webkit-animation-name: bounce-animation;
          animation-name: bounce-animation;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

/*everything below here is just setting up the page, so dont worry about it */
ul,
li,
ol {
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.main-menu ul li:first-child {
  margin-left: 0;
}

.main-menu ul > li {
  position: inherit;
  display: inline-block;
  vertical-align: middle;
}

.main-menu ul > li a:hover {
  color: #fff;
}

.mean-container .mean-bar {
  background: #2b53a8;
}

.web_taital {
  font-size: 24pt;
}

.logo {
  width: 100%;
  float: left;
}

.web_text {
  width: 100%;
  float: left;
  font-size: 48px;
  padding-top: 160px;
}

.margin-top-20 {
  margin-top: 20px;
}

.donec_text {
  font-size: 17px;
  color: #110f0a;
  margin-left: 0;
  padding-bottom: 20px;
  z-index: 9;
  position: relative;
}

.bannen_inner {
  width: 100%;
  float: left;
}

.taital_main {
  width: 100%;
  float: left;
  margin-top: 10px;
}

.get_bg {
  background-color: #2b53a8;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  line-height: 1.5;
  border-radius: 0.3rem;
  padding: 11px 16px 14px 15px;
  margin-right: 25px;
}

a:hover {
  color: #fff;
}

.get_bga:hover {
  color: #000;
}

.get_bga:not(:disabled):not(.disabled).active,
.get_bga:not(:disabled):not(.disabled):active,
.show > .get_bga.dropdown-toggle {
  color: #000;
  background-color: #1d2124;
  border-color: #171a1d;
}

button.btn.btn-primary,
button.btn.btn-primary:hover,
button.btn.btn-primary:focus {
  background: #136af8;
  padding: 10 40px;
}

.search_bt {
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
  color: #fff;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: #000;
  padding: 15px 45px;
  border: 0px;
}

.form-control:not(:last-child) {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-left: 25px;
}

.choose_section {
  width: 100%;
  float: left;
  margin-top: 40px;
  margin-bottom: 40px;
}

.choose_text {
  width: 100%;
  float: left;
  text-align: center;
  color: #030907;
  font-weight: 600;
}

.lorem_text {
  width: 100%;
  float: left;
  text-align: center;
}

.color {
  color: #2b53a8;
}

.choose_section_2 {
  width: 100%;
  float: left;
}

.power {
  width: 100%;
  float: left;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px;
          box-shadow: 0px 0px 6px 0px;
}

.power i, .power h2 {
  color: #2b53a8;
}

.power:hover {
  width: 100%;
  float: left;
  background-color: #2b53a8;
  border-radius: 30px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 6px 0px;
          box-shadow: 0px 0px 6px 0px;
}

.power:hover i, .power:hover h2 {
  color: white;
}

.icon {
  text-align: center;
  margin-top: 40px;
}

.powerful_text {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

.totaly_text {
  width: 100%;
  float: left;
  text-align: center;
  margin: 20px 0;
  color: #05265a;
  font-size: 25px;
  font-weight: bold;
}

.making_tetx {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
  margin-left: 0;
}

.making {
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 20px;
  color: #000;
  margin-left: 0;
}

.btn_main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

.read_bt {
  height: 50px;
  width: 100%;
  float: left;
  border-radius: 11px;
  border: 0px;
  color: #ffffff;
  background-color: #000;
  margin-top: 30px;
  font-size: 17px;
  margin-bottom: 30px;
}

.read_bt a:hover {
  color: #ffffff;
}

.about_main {
  width: 100%;
  float: left;
  background-color: #2b53a8;
  height: auto;
  margin-top: 70px;
  margin-bottom: 20px;
  position: relative;
}

.about_main:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 100%;
  height: 110px;
  background-image: url(../images/about-top-bg.png);
  z-index: 1;
  background-size: 100%;
  background-position: top center;
  background-repeat: no-repeat;
}

.about_main:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 110px;
  background-image: url(../images/about-bottom-bg.png);
  z-index: 1;
  background-size: 100%;
  background-position: bottom center;
  background-repeat: no-repeat;
}

.images {
  margin: 30px;
  width: 100%;
  margin-left: 0px;
}

.right_section_main {
  width: 100%;
  float: left;
  background-color: #ffffff;
  padding: 15px 35px 0px 35px;
  margin-top: 31px;
  border-radius: 20px;
  border: 6px dotted #8db1fd;
}

.dolar_tetx {
  width: 100%;
  float: left;
}

.special_text {
  color: #000;
  font-weight: 500;
}

.right_aero {
  max-width: 100%;
  left: -245px;
  position: relative;
  top: -160px;
}

.about_inner {
  width: 100%;
  float: right;
  margin: 20px;
  background-color: #fff;
  border-radius: 20px;
  border: 2px solid #2b53a8;
  padding: 10px;
  min-height: 450px;
  min-width: 450px;
}

.about_inner:hover {
  width: 100%;
  float: right;
  margin: 20px;
  background-color: #2b53a8;
  border-radius: 20px;
  border: 6px solid #8db0fb;
  min-height: 450px;
  min-width: 450px;
}

.about_inner:hover p, .about_inner:hover h2 {
  color: white;
}

.justo_text {
  width: 100%;
  text-align: center;
  float: left;
  margin: 0px;
  padding-bottom: 20px;
  padding-top: 20px;
  color: #ffffff;
}

.hosting_text {
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
}

.bt_main {
  width: 16%;
  margin: 0 auto;
  text-align: center;
  margin-top: 45px;
}

.read_more {
  height: 50px;
  width: 100%;
  float: left;
  border-radius: 11px;
  border: 0px;
  color: #ffffff;
  background-color: #000;
  margin-top: 30px;
  font-size: 17px;
  margin-bottom: 30px;
}

.read_more a:hover {
  color: #ffffff;
}

.contact_section {
  width: 100%;
  float: left;
  margin-top: 65px;
}

.contact_section_2 {
  width: 100%;
  float: left;
  background-image: url(../images/contact-bg.png);
  height: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-size: cover;
  margin-top: 65px;
  z-index: 5;
  position: relative;
}

.section_right {
  width: 100%;
  float: left;
  margin-top: 15px;
}

.input_main {
  width: 100%;
  float: left;
  background-color: #ffffff;
  padding: 40px 20px;
  border-radius: 20px;
  margin-top: 15px;
}

.email-bt {
  background: #ececec;
  border: none;
  color: #000;
  width: 100%;
  height: 55px;
  font-size: 22px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 6px;
}

.massage-bt {
  background: #ececec;
  border: none;
  color: #000;
  width: 100%;
  height: 145px;
  font-size: 22px;
  padding: 20px;
  border-radius: 10px;
  margin-top: 6px;
}

.margin-0 {
  margin: 0px;
  padding: 0px;
}

button.main_bt {
  background: #ce4109;
  border: none;
  color: #fff;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  font-size: 22px;
}

button.main_bt a:hover {
  color: #ffffff;
}

.send_btn {
  width: 30%;
  margin: 0 auto;
  text-align: center;
}

.contact_section_3 {
  width: 100%;
  float: left;
  background-color: #2c2c2c;
  padding-bottom: 30px;
  padding-top: 30px;
  margin-top: -80px;
}

.contact_taital {
  width: 100%;
  float: left;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 100px;
}

.web {
  background-color: #ffffff;
  border-radius: 30px;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.londan_text {
  padding-left: 20px;
}

.map_main {
  display: block;
  width: 100%;
  font-size: 17px;
  color: #afafaf;
  text-align: left;
}

.contact_product {
  width: 100%;
  float: left;
  padding-bottom: 20px;
  padding-top: 65px;
}

.useful_text {
  width: 100%;
  float: left;
  color: #fcfcfc;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
}

.menu.multi_column_menu li {
  float: left;
  width: 33.33%;
}

.margin-top-30 {
  padding-top: 25px;
  width: 90%;
}

.menu_text {
  width: 20%;
  margin: 0 auto;
  text-align: center;
}

.menu_text ul {
  margin: 0px;
  padding: 0px;
}

.menu_text li {
  float: left;
  padding-left: 6px;
  padding-right: 25px;
}

.copy_text {
  width: 100%;
  float: left;
  text-align: center;
  color: #ffffff;
  margin-left: 0px;
  margin-right: 0px;
}

.copy_text a:hover {
  color: #000;
}

.footer_menu {
  padding-right: 10px;
}

.profile-img {
  border: 2px solid white;
  border-radius: 15px;
  width: 85%;
}

/*
Social Media Icons
*/
.socials {
  padding: 2rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 40px;
  width: 40px;
  font-size: 1.7rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 10px 15px;
  background-color: white;
  -webkit-box-shadow: 0 0 0 3px #52059b;
          box-shadow: 0 0 0 3px #52059b;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: #52059b;
  color: #fff;
  -webkit-box-shadow: 0 0 0 3px #e3c5ff;
          box-shadow: 0 0 0 3px #e3c5ff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(40vw, 6vh, 72px);
            transform: translate3d(40vw, 6vh, 72px);
  }
}

@keyframes particle-animation-1 {
  100% {
    -webkit-transform: translate3d(40vw, 6vh, 72px);
            transform: translate3d(40vw, 6vh, 72px);
  }
}

.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 60s infinite;
          animation: particle-animation-1 60s infinite;
  opacity: 0.47;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s;
  -webkit-transform: translate3d(13vw, 64vh, 85px);
          transform: translate3d(13vw, 64vh, 85px);
  background: white;
}

@-webkit-keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(4vw, 87vh, 60px);
            transform: translate3d(4vw, 87vh, 60px);
  }
}

@keyframes particle-animation-2 {
  100% {
    -webkit-transform: translate3d(4vw, 87vh, 60px);
            transform: translate3d(4vw, 87vh, 60px);
  }
}

.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 60s infinite;
          animation: particle-animation-2 60s infinite;
  opacity: 0.52;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s;
  -webkit-transform: translate3d(74vw, 49vh, 45px);
          transform: translate3d(74vw, 49vh, 45px);
  background: white;
}

@-webkit-keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(57vw, 63vh, 27px);
            transform: translate3d(57vw, 63vh, 27px);
  }
}

@keyframes particle-animation-3 {
  100% {
    -webkit-transform: translate3d(57vw, 63vh, 27px);
            transform: translate3d(57vw, 63vh, 27px);
  }
}

.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 60s infinite;
          animation: particle-animation-3 60s infinite;
  opacity: 0.35;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s;
  -webkit-transform: translate3d(17vw, 68vh, 52px);
          transform: translate3d(17vw, 68vh, 52px);
  background: white;
}

@-webkit-keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(49vw, 13vh, 60px);
            transform: translate3d(49vw, 13vh, 60px);
  }
}

@keyframes particle-animation-4 {
  100% {
    -webkit-transform: translate3d(49vw, 13vh, 60px);
            transform: translate3d(49vw, 13vh, 60px);
  }
}

.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 60s infinite;
          animation: particle-animation-4 60s infinite;
  opacity: 0.13;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s;
  -webkit-transform: translate3d(73vw, 10vh, 56px);
          transform: translate3d(73vw, 10vh, 56px);
  background: white;
}

@-webkit-keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(54vw, 71vh, 19px);
            transform: translate3d(54vw, 71vh, 19px);
  }
}

@keyframes particle-animation-5 {
  100% {
    -webkit-transform: translate3d(54vw, 71vh, 19px);
            transform: translate3d(54vw, 71vh, 19px);
  }
}

.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 60s infinite;
          animation: particle-animation-5 60s infinite;
  opacity: 0.28;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1s;
          animation-delay: -1s;
  -webkit-transform: translate3d(84vw, 34vh, 25px);
          transform: translate3d(84vw, 34vh, 25px);
  background: white;
}

@-webkit-keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(69vw, 82vh, 98px);
            transform: translate3d(69vw, 82vh, 98px);
  }
}

@keyframes particle-animation-6 {
  100% {
    -webkit-transform: translate3d(69vw, 82vh, 98px);
            transform: translate3d(69vw, 82vh, 98px);
  }
}

.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 60s infinite;
          animation: particle-animation-6 60s infinite;
  opacity: 0.67;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -1.2s;
          animation-delay: -1.2s;
  -webkit-transform: translate3d(19vw, 43vh, 73px);
          transform: translate3d(19vw, 43vh, 73px);
  background: white;
}

@-webkit-keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(62vw, 65vh, 61px);
            transform: translate3d(62vw, 65vh, 61px);
  }
}

@keyframes particle-animation-7 {
  100% {
    -webkit-transform: translate3d(62vw, 65vh, 61px);
            transform: translate3d(62vw, 65vh, 61px);
  }
}

.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 60s infinite;
          animation: particle-animation-7 60s infinite;
  opacity: 0.76;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -1.4s;
          animation-delay: -1.4s;
  -webkit-transform: translate3d(7vw, 87vh, 91px);
          transform: translate3d(7vw, 87vh, 91px);
  background: white;
}

@-webkit-keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(55vw, 48vh, 89px);
            transform: translate3d(55vw, 48vh, 89px);
  }
}

@keyframes particle-animation-8 {
  100% {
    -webkit-transform: translate3d(55vw, 48vh, 89px);
            transform: translate3d(55vw, 48vh, 89px);
  }
}

.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 60s infinite;
          animation: particle-animation-8 60s infinite;
  opacity: 0.54;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.6s;
          animation-delay: -1.6s;
  -webkit-transform: translate3d(80vw, 38vh, 81px);
          transform: translate3d(80vw, 38vh, 81px);
  background: white;
}

@-webkit-keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(55vw, 73vh, 44px);
            transform: translate3d(55vw, 73vh, 44px);
  }
}

@keyframes particle-animation-9 {
  100% {
    -webkit-transform: translate3d(55vw, 73vh, 44px);
            transform: translate3d(55vw, 73vh, 44px);
  }
}

.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 60s infinite;
          animation: particle-animation-9 60s infinite;
  opacity: 0.15;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -1.8s;
          animation-delay: -1.8s;
  -webkit-transform: translate3d(5vw, 83vh, 97px);
          transform: translate3d(5vw, 83vh, 97px);
  background: white;
}

@-webkit-keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(38vw, 82vh, 65px);
            transform: translate3d(38vw, 82vh, 65px);
  }
}

@keyframes particle-animation-10 {
  100% {
    -webkit-transform: translate3d(38vw, 82vh, 65px);
            transform: translate3d(38vw, 82vh, 65px);
  }
}

.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 60s infinite;
          animation: particle-animation-10 60s infinite;
  opacity: 0.29;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2s;
          animation-delay: -2s;
  -webkit-transform: translate3d(36vw, 45vh, 98px);
          transform: translate3d(36vw, 45vh, 98px);
  background: white;
}

@-webkit-keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(18vw, 11vh, 99px);
            transform: translate3d(18vw, 11vh, 99px);
  }
}

@keyframes particle-animation-11 {
  100% {
    -webkit-transform: translate3d(18vw, 11vh, 99px);
            transform: translate3d(18vw, 11vh, 99px);
  }
}

.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 60s infinite;
          animation: particle-animation-11 60s infinite;
  opacity: 0.88;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -2.2s;
          animation-delay: -2.2s;
  -webkit-transform: translate3d(35vw, 8vh, 44px);
          transform: translate3d(35vw, 8vh, 44px);
  background: white;
}

@-webkit-keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(22vw, 53vh, 37px);
            transform: translate3d(22vw, 53vh, 37px);
  }
}

@keyframes particle-animation-12 {
  100% {
    -webkit-transform: translate3d(22vw, 53vh, 37px);
            transform: translate3d(22vw, 53vh, 37px);
  }
}

.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 60s infinite;
          animation: particle-animation-12 60s infinite;
  opacity: 0.07;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -2.4s;
          animation-delay: -2.4s;
  -webkit-transform: translate3d(5vw, 55vh, 21px);
          transform: translate3d(5vw, 55vh, 21px);
  background: white;
}

@-webkit-keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(4vw, 66vh, 83px);
            transform: translate3d(4vw, 66vh, 83px);
  }
}

@keyframes particle-animation-13 {
  100% {
    -webkit-transform: translate3d(4vw, 66vh, 83px);
            transform: translate3d(4vw, 66vh, 83px);
  }
}

.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 60s infinite;
          animation: particle-animation-13 60s infinite;
  opacity: 0.02;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -2.6s;
          animation-delay: -2.6s;
  -webkit-transform: translate3d(17vw, 22vh, 22px);
          transform: translate3d(17vw, 22vh, 22px);
  background: white;
}

@-webkit-keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(31vw, 39vh, 53px);
            transform: translate3d(31vw, 39vh, 53px);
  }
}

@keyframes particle-animation-14 {
  100% {
    -webkit-transform: translate3d(31vw, 39vh, 53px);
            transform: translate3d(31vw, 39vh, 53px);
  }
}

.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 60s infinite;
          animation: particle-animation-14 60s infinite;
  opacity: 0.29;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -2.8s;
          animation-delay: -2.8s;
  -webkit-transform: translate3d(15vw, 89vh, 21px);
          transform: translate3d(15vw, 89vh, 21px);
  background: white;
}

@-webkit-keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(32vw, 51vh, 76px);
            transform: translate3d(32vw, 51vh, 76px);
  }
}

@keyframes particle-animation-15 {
  100% {
    -webkit-transform: translate3d(32vw, 51vh, 76px);
            transform: translate3d(32vw, 51vh, 76px);
  }
}

.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 60s infinite;
          animation: particle-animation-15 60s infinite;
  opacity: 0.34;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3s;
          animation-delay: -3s;
  -webkit-transform: translate3d(32vw, 14vh, 19px);
          transform: translate3d(32vw, 14vh, 19px);
  background: white;
}

@-webkit-keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(46vw, 63vh, 70px);
            transform: translate3d(46vw, 63vh, 70px);
  }
}

@keyframes particle-animation-16 {
  100% {
    -webkit-transform: translate3d(46vw, 63vh, 70px);
            transform: translate3d(46vw, 63vh, 70px);
  }
}

.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 60s infinite;
          animation: particle-animation-16 60s infinite;
  opacity: 0.65;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -3.2s;
          animation-delay: -3.2s;
  -webkit-transform: translate3d(51vw, 15vh, 38px);
          transform: translate3d(51vw, 15vh, 38px);
  background: white;
}

@-webkit-keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(50vw, 54vh, 57px);
            transform: translate3d(50vw, 54vh, 57px);
  }
}

@keyframes particle-animation-17 {
  100% {
    -webkit-transform: translate3d(50vw, 54vh, 57px);
            transform: translate3d(50vw, 54vh, 57px);
  }
}

.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 60s infinite;
          animation: particle-animation-17 60s infinite;
  opacity: 0.58;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -3.4s;
          animation-delay: -3.4s;
  -webkit-transform: translate3d(77vw, 61vh, 72px);
          transform: translate3d(77vw, 61vh, 72px);
  background: white;
}

@-webkit-keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(14vw, 50vh, 59px);
            transform: translate3d(14vw, 50vh, 59px);
  }
}

@keyframes particle-animation-18 {
  100% {
    -webkit-transform: translate3d(14vw, 50vh, 59px);
            transform: translate3d(14vw, 50vh, 59px);
  }
}

.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 60s infinite;
          animation: particle-animation-18 60s infinite;
  opacity: 0.46;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.6s;
          animation-delay: -3.6s;
  -webkit-transform: translate3d(87vw, 71vh, 95px);
          transform: translate3d(87vw, 71vh, 95px);
  background: white;
}

@-webkit-keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(40vw, 19vh, 71px);
            transform: translate3d(40vw, 19vh, 71px);
  }
}

@keyframes particle-animation-19 {
  100% {
    -webkit-transform: translate3d(40vw, 19vh, 71px);
            transform: translate3d(40vw, 19vh, 71px);
  }
}

.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 60s infinite;
          animation: particle-animation-19 60s infinite;
  opacity: 0.4;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -3.8s;
          animation-delay: -3.8s;
  -webkit-transform: translate3d(89vw, 46vh, 73px);
          transform: translate3d(89vw, 46vh, 73px);
  background: white;
}

@-webkit-keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(75vw, 87vh, 72px);
            transform: translate3d(75vw, 87vh, 72px);
  }
}

@keyframes particle-animation-20 {
  100% {
    -webkit-transform: translate3d(75vw, 87vh, 72px);
            transform: translate3d(75vw, 87vh, 72px);
  }
}

.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 60s infinite;
          animation: particle-animation-20 60s infinite;
  opacity: 0.59;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4s;
          animation-delay: -4s;
  -webkit-transform: translate3d(41vw, 19vh, 61px);
          transform: translate3d(41vw, 19vh, 61px);
  background: white;
}

@-webkit-keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(75vw, 88vh, 35px);
            transform: translate3d(75vw, 88vh, 35px);
  }
}

@keyframes particle-animation-21 {
  100% {
    -webkit-transform: translate3d(75vw, 88vh, 35px);
            transform: translate3d(75vw, 88vh, 35px);
  }
}

.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 60s infinite;
          animation: particle-animation-21 60s infinite;
  opacity: 0.22;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -4.2s;
          animation-delay: -4.2s;
  -webkit-transform: translate3d(11vw, 2vh, 2px);
          transform: translate3d(11vw, 2vh, 2px);
  background: white;
}

@-webkit-keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(48vw, 48vh, 80px);
            transform: translate3d(48vw, 48vh, 80px);
  }
}

@keyframes particle-animation-22 {
  100% {
    -webkit-transform: translate3d(48vw, 48vh, 80px);
            transform: translate3d(48vw, 48vh, 80px);
  }
}

.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 60s infinite;
          animation: particle-animation-22 60s infinite;
  opacity: 0.75;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.4s;
          animation-delay: -4.4s;
  -webkit-transform: translate3d(82vw, 33vh, 95px);
          transform: translate3d(82vw, 33vh, 95px);
  background: white;
}

@-webkit-keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(1vw, 59vh, 88px);
            transform: translate3d(1vw, 59vh, 88px);
  }
}

@keyframes particle-animation-23 {
  100% {
    -webkit-transform: translate3d(1vw, 59vh, 88px);
            transform: translate3d(1vw, 59vh, 88px);
  }
}

.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 60s infinite;
          animation: particle-animation-23 60s infinite;
  opacity: 0.57;
  height: 10px;
  width: 10px;
  -webkit-animation-delay: -4.6s;
          animation-delay: -4.6s;
  -webkit-transform: translate3d(7vw, 11vh, 55px);
          transform: translate3d(7vw, 11vh, 55px);
  background: white;
}

@-webkit-keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(88vw, 72vh, 15px);
            transform: translate3d(88vw, 72vh, 15px);
  }
}

@keyframes particle-animation-24 {
  100% {
    -webkit-transform: translate3d(88vw, 72vh, 15px);
            transform: translate3d(88vw, 72vh, 15px);
  }
}

.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 60s infinite;
          animation: particle-animation-24 60s infinite;
  opacity: 0.1;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -4.8s;
          animation-delay: -4.8s;
  -webkit-transform: translate3d(41vw, 45vh, 65px);
          transform: translate3d(41vw, 45vh, 65px);
  background: white;
}

@-webkit-keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(88vw, 69vh, 37px);
            transform: translate3d(88vw, 69vh, 37px);
  }
}

@keyframes particle-animation-25 {
  100% {
    -webkit-transform: translate3d(88vw, 69vh, 37px);
            transform: translate3d(88vw, 69vh, 37px);
  }
}

.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 60s infinite;
          animation: particle-animation-25 60s infinite;
  opacity: 0.84;
  height: 9px;
  width: 9px;
  -webkit-animation-delay: -5s;
          animation-delay: -5s;
  -webkit-transform: translate3d(58vw, 70vh, 15px);
          transform: translate3d(58vw, 70vh, 15px);
  background: white;
}

@-webkit-keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(78vw, 55vh, 25px);
            transform: translate3d(78vw, 55vh, 25px);
  }
}

@keyframes particle-animation-26 {
  100% {
    -webkit-transform: translate3d(78vw, 55vh, 25px);
            transform: translate3d(78vw, 55vh, 25px);
  }
}

.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 60s infinite;
          animation: particle-animation-26 60s infinite;
  opacity: 0.16;
  height: 8px;
  width: 8px;
  -webkit-animation-delay: -5.2s;
          animation-delay: -5.2s;
  -webkit-transform: translate3d(59vw, 18vh, 55px);
          transform: translate3d(59vw, 18vh, 55px);
  background: white;
}

@-webkit-keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(24vw, 35vh, 9px);
            transform: translate3d(24vw, 35vh, 9px);
  }
}

@keyframes particle-animation-27 {
  100% {
    -webkit-transform: translate3d(24vw, 35vh, 9px);
            transform: translate3d(24vw, 35vh, 9px);
  }
}

.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 60s infinite;
          animation: particle-animation-27 60s infinite;
  opacity: 1;
  height: 6px;
  width: 6px;
  -webkit-animation-delay: -5.4s;
          animation-delay: -5.4s;
  -webkit-transform: translate3d(24vw, 52vh, 83px);
          transform: translate3d(24vw, 52vh, 83px);
  background: white;
}

@-webkit-keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(63vw, 36vh, 6px);
            transform: translate3d(63vw, 36vh, 6px);
  }
}

@keyframes particle-animation-28 {
  100% {
    -webkit-transform: translate3d(63vw, 36vh, 6px);
            transform: translate3d(63vw, 36vh, 6px);
  }
}

.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 60s infinite;
          animation: particle-animation-28 60s infinite;
  opacity: 0.9;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.6s;
          animation-delay: -5.6s;
  -webkit-transform: translate3d(46vw, 88vh, 15px);
          transform: translate3d(46vw, 88vh, 15px);
  background: white;
}

@-webkit-keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(3vw, 70vh, 3px);
            transform: translate3d(3vw, 70vh, 3px);
  }
}

@keyframes particle-animation-29 {
  100% {
    -webkit-transform: translate3d(3vw, 70vh, 3px);
            transform: translate3d(3vw, 70vh, 3px);
  }
}

.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 60s infinite;
          animation: particle-animation-29 60s infinite;
  opacity: 0.01;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -5.8s;
          animation-delay: -5.8s;
  -webkit-transform: translate3d(44vw, 49vh, 60px);
          transform: translate3d(44vw, 49vh, 60px);
  background: white;
}

@-webkit-keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(75vw, 82vh, 100px);
            transform: translate3d(75vw, 82vh, 100px);
  }
}

@keyframes particle-animation-30 {
  100% {
    -webkit-transform: translate3d(75vw, 82vh, 100px);
            transform: translate3d(75vw, 82vh, 100px);
  }
}

.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 60s infinite;
          animation: particle-animation-30 60s infinite;
  opacity: 0.1;
  height: 7px;
  width: 7px;
  -webkit-animation-delay: -6s;
          animation-delay: -6s;
  -webkit-transform: translate3d(24vw, 14vh, 16px);
          transform: translate3d(24vw, 14vh, 16px);
  background: white;
}
/*# sourceMappingURL=style.css.map */